a {
    transition: .3s all ease;
}

* {
    font-family: "Roboto",Arial,sans-serif;
}
#home .top-wrap {
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0.2em 0;
}

#home .top-wrap .navbar-brand {
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

#home .top-wrap .navbar-brand:hover {
    text-decoration: none;
    color: #1eb2a6;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#home .top-wrap .navbar-brand span {
    display: block;
    font-size: 11px;
    color: #fff;
    font-weight: 350;
    line-height: 0.2;
}

#home .top-wrap .information {
    color: #fff;
}

#home .top-wrap .information .icon {
    font-size: 20px;
    margin-right: 10px;
}

#home .top-wrap .information .text {
    font-size: 14px;
    margin-top: 12px;
}

#home .information .fas.fa-clock {
    margin-top: 24px;
}

#home .information .fas.fa-phone-alt {
    margin-top: 20px;
}

#home .top-wrap .social-media a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 4px;
    background: rgba(255,255,255,.2);
    text-decoration: none;
    color: #1eb2a6;
}

#home .top-wrap .social-media a:hover {
    background: #1eb2a6;
    color: #fff;
}

#home .ftco-navbar-light {
    background: #22c8ba;
    position: absolute;
    top: 210px;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0;
    margin-top: 18px;
}

#home .ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.9) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

#home .hero-wrap {
    background-image: url(../images/woman.webp);
    height: 100vh;
    min-height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    z-index: 0;
}

#home .hero-wrap .slider-text {
    height: 100vh;
    color: rgba(255, 255, 255, 0.8);
    z-index: 3;
}

#home .top-wrap .col-md strong {
    display:block   

}

#home .top-wrap .col-md span{
    height: 1em;
}

#home .navbar .navbar-nav .nav-link {
    font-size: 15px;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-left: 25px;
    padding-right: 25px;
    color: rgba(255,255,255,.9);
    font-weight: 500;
}

#home .navbar .navbar-nav .nav-link.active {
    color: #1eb2a6;
    position: relative;
    z-index: 0;
}

#home .navbar .btn-custom {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: #1eb2a6;
    padding: 1.5rem;
    color: #fff;
    border-radius: 0;
    position: relative;
    display: inline-block;
    width: 205px;
    z-index: 0;
    text-align: center;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-decoration: none;
}

#home .navbar .btn-custom:before {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -20px;
    width: 100px;
    background: #1eb2a6;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
    z-index: -1;
    content: '';
}

#home .hero-wrap .subheading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: rgba(255,255,255,.7);
    display: inline-block;
    letter-spacing: 2px;
    margin-bottom: 5px;
    position: relative;
    z-index: 0;
    margin-top: 160px;

}

#home .hero-wrap .slider-text h1 {
    font-weight: 600; 
    color: #fff; 
    font-size: 40px; 
    line-height: 1.2;

}

#home .hero-wrap p.mb-4  {
    margin-right: 100px;
    line-height: 1.8;
}

#home .hero-wrap .col-lg-6 .btn.btn-primary {
    background: #1eb2a6!important;
    border: 1px solid #1eb2a6!important;
    color: #fff!important;
}
#home .hero-wrap .col-lg-6 .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

#home .hero-wrap .col-lg-6 .btn.btn-white {
    background: #fff!important;
    border: 1px solid #fff!important;
    color: #1eb2a6!important;
}

#home .hero-wrap .fa-long-arrow-alt-right {
    font-size: 14px;
}

#home .ftco-section .w-100 {
    background-image: url(../images/woman2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -10px;
}

#home .heading-section .subheading {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    color: #1eb2a6;
    font-weight: 700;
    text-transform: uppercase;
}

#home .heading-section .mb-2 {
    font-size: 46px;
    font-weight: 550;
    line-height: 1.4;
}

#home .heading-section h2 {
    font-size: 20px;
    font-weight: 550;
}

#home .heading-section .text {
    padding: 25px;
    display: block;
    width: 100%;
    margin-bottom: 0;
}

#home .heading-section .mb-0 {
    background: #f8f8f8;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999;
}

#home .heading-section .icon i {
    display: block;
    margin-top: 23px;
    font-size: 50px;
    line-height: 1.2;
    color: #1eb2a6;
    padding: 0 15px;
}

#home .heading-section .services.d-flex:hover .icon,
#home .heading-section .services.d-flex:hover .text,
#home .heading-section .services.d-flex:hover .mb-0 {
    transition: all 0.3s ease;
}

#home .heading-section .services.d-flex:hover .icon {
    background-color:#1eb2a6;
}

#home .heading-section .services.d-flex:hover .icon i {
    color: white;
}

#home .heading-section .services.d-flex:hover .text {
    color: white;
    background-color: #1eb2a6;
}

#home .heading-section .services.d-flex:hover .mb-0 {
    background-color: #1eb2a6;
}

#home .ftco-2 .heading-section .subheading {
    padding: 8em 0 0 0;
}

#home .ftco-2 .heading-section .mb-4 {
    font-size: 46px;
    font-weight: 550;
    line-height: 1.4;
}

#home .services-2 {
    width: 100%;
    background: #fff;
    padding: 30px 20px;
    border-radius: 4px;
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 18%);
}

#home .services-2 .text h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
    color: black;
}

#home .services-2 .text span {
    font-size: 13px;
    font-weight: 500;
    background: #f8f8f8;
    padding: 5px;
    border-radius: 4px;
    color: #1eb2a6;
}

#home .services-2 {
    text-decoration: none;
}

#home .services-2 .icon {
    font-size: 70px;
    color: #1eb2a6;
}

#home .services-2:hover {
    transition: all 0.3s ease;
    background-color: #1eb2a6;
}

#home .services-2:hover .icon {
    color:white
}

#home .services-2:hover .text h2 {
    color:white;
}

#home .services-2.active {
    background-color:#1eb2a6;
}

#home .services-2.active .icon {
    color:white;
}

#home .services-2.active .text h2 {
    color:white;
}

#home .col-md-3 {
    margin-bottom: 1em;
}

#home .ftco-intro {
    margin-top: 1em;
}

#home .ftco-intro .mb-0 {
    color: #fff;
    font-size: 27px;
    font-weight: 550;
    background-color: #1eb2a6;
}

#home .ftco-intro p {
    background: #1eb2a6;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color:white;
}

#home .ftco-intro {
    background-color: #1eb2a6 !important;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1em;
}

#home .ftco-intro a {
    color: white;
}

#home .ftco-intro .form-group input {
    background: transparent!important;
    border: none!important;
}

#home .ftco-intro .subscribe-form .form-control {
    position: relative;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.5)!important;
    border-radius: 0;
    width: 18em;
}

#home .ftco-intro .btn-icon span {
    margin-left: -15px;
}

*::-webkit-input-placeholder {
    color: #fff!important;
    font-size: 16px;
}

*:-moz-placeholder {
    color: #fff!important;
    font-size: 16px;
}

*::-moz-placeholder {
    color: #fff!important;
    font-size: 16px;
}

*:-ms-input-placeholder {
    color: #fff!important;
    font-size: 16px;
}

#home .ftco-footer {
    padding: 5em 0 0 0;
    background: #eee;
}

#home .ftco-footer .container-xl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

#home .ftco-footer .logo a {
    margin-left: 5px;
    margin-right: 5px;
    padding: 1em;
}

#home .ftco-footer .logo {
    margin-top: -35px;
}

#home .ftco-footer a.navbar-brand.align-items-center {
    font-weight: 800;
    font-size: 30px;
    color: black;
    z-index: 3;
    position: relative;
    line-height: 1.1;
    text-transform: uppercase;
    padding-left: 0;
}

#home .ftco-footer .logo a span {
    color: #1eb2a6;
    line-height: 1.1;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    font-weight: 500;
}

#home .ftco-footer p {
    background: #eee;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999;
    margin-top: -30px;
}

#home .ftco-footer a {
    text-decoration: none;
    color: #666;
    line-height: 2.2;
}

#home .ftco-footer .list-unstyled:hover li span {
    transition: all 0.3s ease;
    color: #1eb2a6;
}

#home .ftco-footer .heading:hover a {
    transition: all 0.3s ease;
    color: #1eb2a6;    
}

#home .ftco-footer ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#home .ftco-footer .ftco-footer-social li {
    display: inline;
}

#home .ftco-footer .ftco-footer-social li i {
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 50%;
    position: relative;
    background: #1eb2a6;
}

#home .ftco-footer .ftco-footer-widget ul li a i {
    font-size: 10px;
    color: #1eb2a6;
    margin-right: 7px;
}

.ftco-footer .ftco-footer-widget h2, .ftco-footer .ftco-footer-widget .h2 {
    color: #111;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 550;
}

#home .ftco-footer .list-unstyled {
    padding-left: 0;
}

#home .ftco-footer .block-21 .text .meta>div a{
    color:#1eb2a6;
    font-size: 12px;
}

#home .ftco-footer .block-21 .text .heading {
    font-size: 16px;
    font-weight: 400;
}

#home .ftco-footer .block-21 .text {
    width: calc(100% - 50px);
    padding-left: 20px;
}

#home .ftco-footer .block-21 .blog-img {
    background-image: url(../images/Woman3.webp);
    display: block;
    height: 50px;
    width: 50px;
}

#home .ftco-footer .rounded {
    border-radius: .25rem!important;
}

#home .img,
#home .blog-img,
#home .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#home .ftco-footer .block-23 ul {
    padding: 0;
}

#home .ftco-footer .block-23 ul li .icon {
    width: 40px;
    font-size: 15px;
    padding-top: 2px;
    color: #1eb2a6!important;
}

#home .ftco-footer .block-23 ul li {
    list-style: none;
}

#home .ftco-footer .block-23 ul li .icon,
#home .ftco-footer .block-23 ul li .text {
    display: table-cell;
    vertical-align: top;
    
}

#home .ftco-footer .block-23 ul li,
#home .ftco-footer .block-23 ul li>a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 15px;
}

/*All higher than 1200px */
@media only screen and (min-width: 1200px) {
    #home .ftco-navbar-light .container-xl {
        padding-left: 0;
        padding-right: 0;   
        background: rgba(255, 255, 255, 0.1);
        max-width: 1300px;
    }
}

@media only screen and (min-width: 992px) {
    #home .ftco-navbar-light {
        background: transparent;
        top: 95px;
    }

    #home .top-wrap .information .icon {
        font-size: 40px;
    }

    #home .top-wrap .information .text {
        font-size: 16px;
    }

    #home .ftco-footer .col-lg {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }

    #home .ftco-footer .col-lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 16.66667%;
    }
}

/*All below 1200px*/
@media only screen and (max-width: 1200px) {
    
}