#home {
    .hero-wrap {
        background-image: url(../images/woman.webp);
        height: 100vh;
        min-height: 100%;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        z-index: 0;
    }

    .ftco-section {
        .w-100 {
            background-image: url(../images/woman2.webp);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: -10px;
        }
    }

    .heading-section {
        .subheading {
            font-size: 16px;
            display: block;
            margin-bottom: 5px;
            color: $primary-color;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 4em;
        }

        .mb-2 {
            font-size: 46px;
            font-weight: 550;
            line-height: 1.4;
        }

        h2 {
            font-size: 20px;
            font-weight: 550;
        }

        .text {
            padding: 25px;
            display: block;
            width: 100%;
            margin-bottom: 0;
        }

        .mb-0 {
            font-size: 16px;
            line-height: 1.8;
            font-weight: 400;
            color: #999;
        }

        .icon {
            i {
                display: block;
                margin-top: 23px;
                font-size: 50px;
                line-height: 1.2;
                color: $primary-color;
                padding: 0 15px;
            }
        }

        .services {
            &.d-flex {
                &:hover {
                    .text {
                        color: white;
                        background-color: $primary-color;
                        transition: all 0.3s ease;
                    }

                    .bm-0 {
                        transition: all 0.3s ease;
                        background-color: $primary-color;
                    }

                    .icon {
                        transition: all 0.3s ease;
                        background-color: $primary-color;

                        i {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .ftco-2 {
        .heading.section {
            .subheading {
                padding: 8em 0 0 0;
            }

            .mb-4 {
                font-size: 46px;
                font-weight: 550;
                line-height: 1.4;
            }
        }
    }

    .services-2 {
        text-decoration: none;
        width: 100%;
        background: #fff;
        padding: 30px 20px;
        border-radius: 4px;
        box-shadow: 0 5px 25px -2px RGBA(0 0 0 / 18%);

        &.active {
            background-color: $primary-color;

            .icon {
                color: white;
            }

            .text {
                h2 {
                    color: white;
                }
            }
        }

        &:hover {
            transition: all 0.3s ease;
            background-color: $primary-color;

            .icon {
                color: white
            }

            .text {
                h2 {
                    color: white
                }
            }
        }

        .text {
            h2 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 2px;
                color: black;
            }

            span {
                font-size: 13px;
                font-weight: 500;
                background: #f8f8f8;
                padding: 5px;
                border-radius: 4px;
                color: $primary-color;
            }
        }

        .icon {
            font-size: 70px;
            color: $primary-color;
        }
    }

    .col-md-3 {
        margin-bottom: 1em;
    }

    .ftco-intro {
        margin-top: 1em;
        background-color: $primary-color !important;
        margin-left: 5px;
        margin-right: 5px;
        padding: 1em;

        .mb-0 {
            color: #fff;
            font-size: 27px;
            font-weight: 550;
            background-color: $primary-color;
        }

        p {
            background: $primary-color;
            font-size: 16px;
            line-height: 1.8;
            font-weight: 400;
            color: white;
        }

        a {
            color: white;
        }

        .form-group {
            input {
                background: transparent !important;
                border: none !important;
            }
        }

        .subscribe-form {
            .form-control {
                position: relative;
                margin-bottom: 0;
                border-bottom: 1px solid rgba(255, 255, 255, .5) !important;
                border-radius: 0;
                width: 18em;
            }
        }

        .btn-icon {
            span {
                margin-left: -15px;
            }
        }
    }

    .ftco-footer {
        padding: 5em 0 0 0;
        background: #eee;

        .col-lg {
            @media only screen and (min-width: 992px) {
                -webkit-box-flex: 1;
                -ms-flex: 1 0 0%;
                flex: 1 0 0%;
            }
        }

        .col-lg-2 {
            @media only screen and (min-width: 992px) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                width: 16.66667%;
            }
        }

        a {
            text-decoration: none;
            color: #666;
            line-height: 2.2;

            &.navbar-brand {
                &.align-items-center {
                    font-weight: 800;
                    font-size: 30px;
                    color: black;
                    z-index: 3;
                    position: relative;
                    line-height: 1.1;
                    text-transform: uppercase;
                    padding-left: 0;
                }
            }
        }

        .container-xl {
            width: 100%;
            padding-right: var(--bs-gutter-x, 0.75rem);
            padding-left: var(--bs-gutter-x, 0.75rem);
            margin-right: auto;
            margin-left: auto;
        }

        .logo {
            margin-top: -35px;

            a {
                margin-left: 5px;
                margin-right: 5px;
                padding: 1em;

                span {
                    color: $primary-color;
                    line-height: 1.1;
                    text-transform: uppercase;
                    font-size: 12px;
                    display: block;
                    font-weight: 500;
                }
            }
        }

        p {
            background: #eee;
            font-size: 16px;
            line-height: 1.8;
            font-weight: 400;
            color: #999;
            margin-top: -30px;
        }

        .list-unstyled {
            padding-left: 0;

            &:hover {
                li {
                    span {
                        transition: all 0.3s ease;
                        color: $primary-color;
                    }
                }
            }
        }

        .heading {
            &:hover {
                a {
                    transition: all 0.3s ease;
                    color: $primary-color;
                }
            }
        }

        .ftco-footer-social {
            li {
                display: inline;
                padding: 8px 12px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background: $primary-color;
                font-size: 21px;
                top: 50%;
                left: 50%;
                margin: 12px;
                padding-left: 10px;
            }
        }

        .ftco-footer-media {
            margin-left: -30px;

            span {
                color: white;
            }
        }

        .ftco-footer-widget {
            ul {
                li {
                    a {
                        i {
                            font-size: 10px;
                            color: $primary-color;
                            margin-right: 7px;
                        }
                    }
                }
            }

            h2,
            .h2 {
                color: #111;
                margin-bottom: 40px;
                font-size: 18px;
                font-weight: 550;
            }
        }

        .block-21 {
            .blog-img {
                background-image: url(../images/Woman3.webp);
                display: block;
                height: 50px;
                width: 50px;
            }

            .text {
                width: calc(100% - 50px);
                padding-left: 20px;

                .heading {
                    font-size: 16px;
                    font-weight: 400;
                }

                .meta {
                    >div {
                        a {
                            color: $primary-color;
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .rounded {
            border-radius: .25rem !important;
        }

        .block-23 {
            ul {
                padding: 0;

                li {
                    display: table;
                    line-height: 1.5;
                    margin-bottom: 15px;
                    font-size: 15px;

                    >a {
                        display: table;
                        line-height: 1.5;
                        margin-bottom: 15px;
                        font-size: 15px;
                    }

                    .icon,
                    .text {
                        display: table-cell;
                        vertical-align: top;
                    }

                    list-style: none;

                    .icon {
                        width: 40px;
                        font-size: 15px;
                        padding-top: 2px;
                        color: $primary-color !important;
                    }
                }
            }
        }
    }

    .img,
    .blog-img,
    .user-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

#house {
    .hero-wrap {
        background-image: url(../images/ContactWoman.webp);
        height: 100vh;
        min-height: 100%;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        z-index: 0;

        .text-center {
            span {
                text-decoration: none;
                text-transform: uppercase;
            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
            }

            h1 {
                font-size: 70px;
                font-weight: 500;
            }
        }
    }

    .top-wrap {
        .d-flex {
            .icon {
                color: #fff;
                font-size: 40px;

            }

            .text {
                padding-left: 10px;
                margin-top: 11px;

                span {
                    display: block;
                    line-height: 1.4;
                    color: #fff;
                }

                strong {
                    display: block;
                    line-height: 1.4;
                    color: #fff;
                }
            }
        }
    }
    .contact-wrap {
        h3 {
            color: #000000;
            font-weight: 400;
            font-size: 30px;
        }
    
        .mb-4 {
            font-size: 16px;
            line-height: 1.8;
            font-weight: 400;
            color: #999;
        }
    
    }
    
    .ftco-section {
        .dbox {
            p {
                span {
                    color: #000000;
                    display: block;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 700;
                }
    
                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
    .social-media {
        a {
            text-decoration: none;
            color: $primary-color;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 13px;
            margin-right: 10px;
        }
    }
}
#contactForm {
    .col-lg-6 {
        padding-bottom: 8px;
    }
    .col-md-12 {
        padding-bottom: 10px;
    }
    input {
        box-shadow: none;
    }
    textarea {
        box-shadow: none;
    }
}