#home {
    .top-wrap {
        background: transparent;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 3;
        padding: 0.2em 0;
        .navbar-brand {
            text-transform: uppercase; 
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            &:hover {
                text-decoration: none;
                color: $primary-color;
                outline: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
            }
        }
    }
}